{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>Log in</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-5">
                {{ render_form(form) }}

                <hr>
                <span class="text-muted bg-light"> Signin with GitHub </span>
                <a href="{{ url_for('oauth.oauth_login', provider_name='github') }}" >
                    <img class="avatar-xs" src="{{ url_for('static', filename='github.ico') }}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}