{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form_row %}

{% block title %} Register {% endblock %}

{% block content %}
   <div class="container w-3 h-100">
        <div class="row w-3 h-100 page-header justify-content-center align-items-center">
            <h1>Register </h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-5 mb-5">
                <form method="post">
                    {{ form.csrf_token() }}
                    {{ render_form_row([form.username]) }}
                    {{ render_form_row([form.password]) }}
                    {{ render_form_row([form.password_confirm]) }}
                    {{ render_form_row([form.submit]) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %} {% endblock %}}