{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %} Register {% endblock %}

{% block content %}
   <div class="container w-3 h-100">
        <div class="row w-3 h-100 page-header justify-content-center align-items-center">
            <h1>Register </h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-5">
                {{ render_form(form) }}
                <hr>
                <p class="small">
                    Already have an account? <a href="{{ url_for('auth.login') }}" >Click here to log in.</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %} {% endblock %}