{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import user_card with context %}

{% block title %} Collectors {% endblock %}

{% block content %}
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-outline-primary" href="{{ url_for('main.show_post', post_id=post.id) }}">
                    <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Go Back
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 style="color:blue">{{ post.collectors|length }} Collectors</h4>
            {% for collect in collects %}
                {{ user_card(user=collect.collector) }}
            {% endfor %}
        </div>
    </div>
    {% if collects %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}

{% endblock %}