{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Ye Chenjia's Blog</h1>
         <small class="text-muted"> for write anything you like</small>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <!-- post-->
            {% include 'main/_posts.html' %}
            <!-- post-footer-->
            {% if posts %}
                <div class="page-footer">
                    {{ render_pager(pagination, align='center' ) }}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2 ml-auto">
            {% include 'main/_sidebar.html' %}
        </div>
    </div>
{% endblock %}