{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ post.title }}</h1>
        <small>
            Category: <a href="#">default</a>&nbsp;&nbsp;
            Date: {{ moment(post.timestamp).format('LL') }}
        </small>
    </div>

    <div class="row">
        <div class="col-sm-8">
            {{ post.body|safe }}
            <hr>
            {% include 'main/_comment.html' %}
        </div>
        <div class="col-sm-3 ml-auto">
            {% include 'main/_sidebar.html' %}
        </div>
    </div>

{% endblock content %}