{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <div class="page-header">
                <h1>{{ post.title }}</h1>
                <small>
                    Category: <a href="#">default</a>&nbsp;&nbsp;
                    Date: {{ moment(post.timestamp).format('LL') }}
                </small>
            </div>

            {{ post.body|safe }}
            <hr>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#shareModal">Share</button>
            {% if current_user.is_authenticated %}
                {% if current_user.is_collecting(post) %}
                    <form class="inline" method="post" action="{{ url_for('main.uncollect', post_id=post.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">
                            <span class="oi oi-x"></span> Uncollect
                        </button>
                    </form>
                {% else%}
                    <form class="inline" method="post" action="{{ url_for('main.collect', post_id=post.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-outline-primary btn-sm">
                        <span class="oi oi-star"></span> Collect
                        </button>
                    </form>
                {% endif%}
            {% else %}
                <form class="inline" method="post" action="{{ url_for('main.collect', post_id=post.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-secondary btn-sm">
                        <span class="oi oi-star"></span> Collect
                    </button>
                </form>
            {% endif %}

            {% include 'main/_comment.html' %}
        </div>
        <div class="col-sm-3 ml-auto">
            {% include 'main/_post_sidebar.html' %}
        </div>
    </div>

    <!-- Share Modal -->
     <div class="modal fade" id="shareModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Permalink</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input class="form-control" value="{{ url_for('main.show_post', post_id=post.id, _external=True) }}"
                        readonly>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="confirm-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this item? </p>
                    <form class="inline float-right delete-form" action="" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}