{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
        <title>{% block title %} {% endblock title %} - Blog Title </title>
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock styles %}
    {% endblock head %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img class="avatar-xs" src="{{ url_for('static', filename='github.ico') }}" alt="awesome-webapp">
            </a>
            <!-- collapsible Button -->
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="oi oi-menu"></span>
            </button>
            <!-- collapse -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="navbar-nav mr-auto">
                    {{ render_nav_item('main.index', 'Home') }}
                    {{ render_nav_item('main.about', 'About') }}
                    <form class="form-inline ml-3 my-0" action="{{ url_for('main.search') }}">
                        <input type="text" class="form-control" name="q" placeholder="Search" required>
                        <button class="btn btn-primary" type="submit">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                    </form>
                </div>

                <div class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('main.show_notifications') }}">
                            <span class="oi oi-bell"></span>
                            <span id="notification_count_badge"
                                  class="{% if notification_count == 0 %}hide{% endif %} badge badge-primary badge-notification"
                                    data-href="{{ url_for('ajax.notification_count') }}">
                                {{ notification_count }}
                            </span>
                        </a>
                        <a class="nav-item nav-link" href="{{ url_for('main.new_post') }}">
                            <span class="oi oi-plus"></span>
                        </a>
                        <div class="dropdown nav-item">
                            <a href="#" class="btn nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                                <span class="oi oi-person"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right ">
                                <h6 class="dropdown-header">Username: {{ current_user.username }}</h6>
                                <a class="dropdown-item" href="{{ url_for('user.index', user_id=current_user.id) }}">
                                    <span class="oi oi-home"></span> Home Page
                                </a>
                                <a class="dropdown-item" href="{{ url_for('user.edit_profile') }}">
                                    <span class="oi oi-cog"></span> Settings
                                </a>
                                {% if current_user.can('MODERATE') %}
                                    <a class="dropdown-item" href="{{ url_for('admin.index') }}">
                                        <span class="oi oi-dashboard"></span> Manage
                                    </a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                                    <span class="oi oi-account-logout"></span> Logout
                                </a>
                            </a>
                        </div>
                    {% else %}
                        <a class="btn btn-outline-primary" href="{{ url_for('auth.login') }}">Login</a>&nbsp;&nbsp;
                        <a class="btn btn-primary" href="{{ url_for('auth.register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
    </nav>
{% endblock navbar %}

<main class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }} alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}

    {% block content%} {% endblock content %}

    {% block footer %}
        <footer >
            <p class="float-left" >
                <small>&copy;2020
                    <a href="#">Yeh</a> -
                    <a href="https://github.com/yeh-George/">GitHub</a>
                </small>
            </p>
        </footer>
    {% endblock footer%}
</main>

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
        {% if current_user.is_authenticated %}
            var is_authenticated = true;
        {% else %}
            var is_authenticated = false;
        {% endif %}
    </script>
{% endblock scripts %}

<div id="toast"></div>

</body>
</html>